*{
    box-sizing: border-box;
    background-color: #fff7ec;
}

body{
    margin:1.5em;
    font-size:24px;
}
header{
    margin:0;
    nav ul{
        list-style: none;
        li{
            display:inline;
            
        }
        a{
            text-decoration: none;
            color:#ef6548;
        }
        a:hover{
            color:#d7301f;
        }
    }
}

figure{
    margin:0;
    padding:3em;
    border:solid 1px;
    border-color:#fdbb84;
    border-radius:1em;
    figcaption{
        margin-top:0.5em;
        text-align: center;
    }
}
h1,h2,h3,h4,h5,h6{
    color:#b30000;
    font-family:sans-serif;
}
h3,h4,h5,h6{
    font-weight: normal;
}

#engineering{
    ul li{
        list-style-type: square;
    }
}
footer{
    border-top:#ef6548 solid 1px;
    text-align: center;
    a{
        text-decoration: none;
        color:#fc8d59
    }
}