* {
    box-sizing: border-box;
    color: #111111;
  }

  header{
    #section-navigation{
        list-style-type:none;
        unicode-bidi: isolate;
    }
  }

  body {
    background-color: #fff7ec;
    font-size: 20px;
    margin: 2em;
    border-bottom: #ef6548 solid 1px;
  }
  figure {
    text-align: center;
    padding:2em;
    margin:0;
    border:#fdbb84 solid 1px;
    border-radius:20px;
  }

  h3{
    color:#b30000;
    font-weight:normal;
    font-family:sans-serif;
  }

  footer{
    text-align:center;
  }
